# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Logs and temp files
*.log
*.tmp

# IDE files
.idea/
*.iml
*.vscode/
*.classpath
*.project
*.settings/

# OS files
.DS_Store
Thumbs.db
